[class*="col-"] {
    min-height: 50px;
    background-color: rgb(196, 222, 135);
    border: 1px solid black;
}

/* QUI PARTE L'HEADER */

/* IMPOSTAZIONI BARRA DI NAVIGAZIONE INIZIALE */
.navigation_bar {
    background-color: #2c3e50;
    height: auto;
}
.bg-light {
    background-color:#2c3e50 !important;
}
.navbar-light .navbar-brand {
    color: white;
}
.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
    color: white;
}
.navbar-light .navbar-nav .nav-link {
    color: white;
}

/* IMPOSTAZIONI JUMBO */
.jumbo {
    background-color: #1abc9c;
    height: 300px;
    color: white;
}
.avatar {
    margin: 15px auto;
    width: 100px;
    height: 100px;
}
.titolo_jumbo {
    display: flex;
    justify-content: center;
}
.space {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}
.line {
    width: 80px;
    height: 2px;
    margin: 0 20px;
    background-color: white;
}

/* QUI PARTE IL MAIN */

/* QUI IMPOSTAZIONI TITOLO MAIN */
.title_main {
    width: 98%;
    margin: 10px auto;
    height: 150px;
    background-color: white;
    text-align: center;
}

/* QUI TROVO LA PRIMA PARTE MAIN */
.banner {
    background-color: rgb(41, 194, 255);
    height: 250px;
    border-radius: 10px;
    margin: 10px 0;
}

/* QUI TROVO IMPOSTAZIONI SECONDA PARTE MAIN */
.about, .contact {
    height: 400px;
    background-color: green;
}

/* QUI COMINCIA IL FOOTER */
.footer {
    background-color: rgb(92, 87, 121);
    height: 200px;
}

.footer_1 {
    background-color: rgb(74, 70, 97);
    height: 80px;
}