
/* QUI PARTE L'HEADER */

/* IMPOSTAZIONI BARRA DI NAVIGAZIONE INIZIALE */
.navigation_bar {
    background-color: #2c3e50;
    height: auto;
}

.bg-light {
    background-color:#2c3e50 !important;
}

.navbar-light .navbar-brand {
    color: white;
}

.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
    color: white;
}

.navbar-light .navbar-nav .nav-link {
    color: white;
}

/* IMPOSTAZIONI JUMBO */
.jumbo {
    background-color: #1abc9c;
    height: 300px;
    color: white;
}

.avatar {
    margin: 15px auto;
    width: 100px;
    height: 100px;
}

.titolo_jumbo {
    display: flex;
    justify-content: center;
}

.space {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 50px;
}

.line {
    width: 80px;
    height: 2px;
    margin: 0 20px;
    background-color: white;
}

/* QUI PARTE IL MAIN */
.line_ {
    width: 80px;
    height: 2px;
    margin: 0 20px;
    background-color: black;
}

.h1, h1 {
    text-align: center;
    margin-top: 10px;
}

/* QUI TROVO LA PRIMA PARTE MAIN */
.banner {
    margin: 10px 0;
}

.banner img {
    width: 100%;
    border-radius: 20px;
}

/* QUI TROVO IMPOSTAZIONI SECONDA PARTE MAIN */
.about, .contact {
    padding: 20px 0;
}

.about {
    background-color: #1abc9c;
}

.about h1 {
    color: white;
}

.about .space i, p {
    color: white;
}

.space p {
    padding: 0 10px;
}

.button {
    text-align: center;
    background-color: #1abc9c;
}

.button button {
    background-color: #1abc9c;
    color: white;
    border-radius: 10px;
    border: 1px solid white;
    padding: 5px 10px;
}

.btn-primary {
    background-color: #1abc9c;
}

.contact_me {
    width: 60%;
    margin: 0 auto;
}

.form-control {
    border-bottom: 1px solid black;
}



/* QUI COMINCIA IL FOOTER */
.footer {
    background-color: rgb(92, 87, 121);
}

.information {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.type_info {
    text-align: center;
    width: 250px;
    margin: 20px 0;
}

.type_info h4 {
    color: white;
    font-size: 20px;
}

.type_info nav li {
    display: inline-block;
    list-style: none;
}

.type_info nav li a {
    color: white;
    border: 1px solid white;
    padding: 5px 10px;
    border-radius: 10px;
}

.footer_1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(74, 70, 97);
    height: 80px;
}
